#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        enc_vol: enc_vol {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_VOL";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };
    };

    combos {
        compatible = "zmk,combos";

        hmr_layer_toggle {
            bindings = <&tog 4>;
            key-positions = <0 11 54 55>;
        };
    };

    macros {
        line_select: line_select {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
            label = "LINE_SELECT";
        };

        grt: grt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(G) &kp E &kp R &kp N4 &kp L &kp T &kp N0 &kp F &kp LS(R) &kp N1 &kp V &kp N1 &kp N4>;
            label = "GRT";
        };

        zpln: zpln {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(W) &kp N3 &kp LS(G) &kp N0 &kp N1 &kp N &kp G &kp LS(D) &kp N0 &kp W &kp N &kp LS(N) &kp N0 &kp W &kp EXCL>;
            label = "ZPLN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC         &kp N1  &kp N2    &kp N3     &kp N4        &kp N5                                       &kp N6        &kp N7         &kp N8     &kp N9    &kp N0    &kp GRAVE
&kp TAB         &kp Q   &kp W     &kp E      &kp R         &kp T                                        &kp Y         &kp U          &kp I      &kp O     &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A   &kp S     &kp D      &kp F         &kp G                                        &kp H         &kp J          &kp K      &kp L     &kp SEMI  &mt RIGHT_SHIFT SQT
&kp LCTRL       &kp Z   &kp X     &kp C      &kp V         &kp B            &line_select    &kp C_MUTE  &kp N         &kp M          &kp COMMA  &kp DOT   &kp FSLH  &mt RCTRL RIGHT_BRACKET
                        &kp LGUI  &kp LCTRL  &kp LEFT_ALT  &lt 1 BACKSPACE  &kp SPACE       &kp ENTER   &lt 2 DELETE  &kp RIGHT_ALT  &kp RCTRL  &kp RGUI
            >;

            display-name = "Base";
            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>, <&enc_vol>;
        };

        nav {
            display-name = "Navigation";
            bindings = <
&trans  &trans         &trans          &trans          &trans                &trans                                   &trans         &trans                 &trans           &trans    &trans            &trans
&trans  &trans         &kp HOME        &kp UP_ARROW    &kp END               &kp PAGE_UP                              &trans         &trans                 &trans           &trans    &trans            &trans
&trans  &trans         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW       &kp PAGE_DOWN                            &trans         &trans                 &trans           &trans    &trans            &trans
&trans  &kp LESS_THAN  &kp LBKT        &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp SLASH      &line_select    &kp C_PP  &kp BACKSLASH  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RBKT  &kp GREATER_THAN  &trans
                       &trans          &trans          &mt LEFT_ALT ENTER    &trans         &trans          &trans    &lt 3 DELETE   &trans                 &trans           &trans
            >;

            sensor-bindings =
                <&inc_dec_kp LS(LC(RIGHT_ARROW)) LS(LC(LEFT_ARROW))>,
                <&inc_dec_kp LC(TAB) LC(LS(TAB))>;
        };

        sym {
            display-name = "Symbols";
            bindings = <
&trans  &trans         &trans          &trans          &trans                &trans                                     &trans    &trans                 &trans           &trans        &trans            &trans
&trans  &trans         &trans          &trans          &trans                &trans                                     &trans    &trans                 &trans           &trans        &trans            &trans
&trans  &kp PLUS       &kp UNDERSCORE  &kp EQUAL       &kp MINUS             &trans                                     &trans    &kp AMPS               &kp PIPE         &kp QUESTION  &kp COLON         &trans
&trans  &kp LESS_THAN  &kp LBKT        &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp FSLH         &line_select    &kp C_PP  &kp BSLH  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RBKT      &kp GREATER_THAN  &trans
                       &trans          &trans          &mt LEFT_ALT ENTER    &lt 3 BACKSPACE  &trans          &trans    &trans    &trans                 &trans           &trans
            >;

            sensor-bindings =
                <&inc_dec_kp LS(DOWN_ARROW) LS(UP_ARROW)>,
                <&inc_dec_kp C_NEXT C_PREV>;
        };

        adj {
            bindings = <
&kp F1    &kp F2  &kp F3         &kp F4      &kp F5  &kp F6                      &kp F7        &kp F8        &kp F9        &kp F10       &kp F11     &kp F12
&trans    &trans  &trans         &trans      &trans  &trans                      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR  &bt BT_CLR_ALL
&kp CAPS  &trans  &kp LS(LG(S))  &kp LA(F4)  &grt    &trans                      &out OUT_BLE  &zpln         &trans        &trans        &trans      &bootloader
&trans    &trans  &trans         &trans      &trans  &trans  &kp F13    &kp F14  &out OUT_USB  &trans        &trans        &trans        &trans      &studio_unlock
                  &trans         &trans      &trans  &trans  &trans     &trans   &trans        &trans        &trans        &trans
            >;

            display-name = "Adjust";
            sensor-bindings =
                <&inc_dec_kp LA(TAB) LS(LA(TAB))>,
                <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        hmr_base {
            display-name = "Hmr";
            bindings = <
&kp ESC         &kp N1          &kp N2          &kp N3            &kp N4        &kp N5                                       &kp N6        &kp N7         &kp N8             &kp N9           &kp N0              &kp GRAVE
&kp TAB         &kp Q           &kp W           &kp E             &kp R         &kp T                                        &kp Y         &kp U          &kp I              &kp O            &kp P               &kp LEFT_BRACKET
&kp LEFT_SHIFT  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F   &kp G                                        &kp H         &mt RCTRL J    &mt RIGHT_SHIFT K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI  &kp SQT
&kp LCTRL       &kp Z           &kp X           &kp C             &kp V         &kp B            &line_select    &kp C_MUTE  &kp N         &kp M          &kp COMMA          &kp DOT          &kp FSLH            &kp RIGHT_BRACKET
                                &kp LGUI        &kp LCTRL         &kp LEFT_ALT  &lt 1 BACKSPACE  &kp SPACE       &kp ENTER   &lt 2 DELETE  &kp RIGHT_ALT  &kp RCTRL          &kp RIGHT_GUI
            >;

            sensor-bindings = <&inc_dec_kp RIGHT_ARROW LEFT_ARROW>, <&enc_vol>;
        };
    };
};
